.main{
    margin: 0 100px 0 100px;
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 248, 248, 0.925);
    min-height: 700px;
    
}

@media only screen and (max-width: 768px){
    .main{
        margin: 0;
    }
}